body 
{
	background-color: black;
}

.container 
{
	position: center;
}

.container img 
{
	height: auto;
	position: center;
}

.container .btn 
{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #f44336;
	color: white;
	font-size: 16px;
	padding: 16px 30px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
}

.container .btn:hover 
{
	background-color: #f44336;
	color: white;
}

#instructions
{
    font-family: "Arial", Times, serif;
    font-style: oblique;
    font-size: 12px;
    color: white;
    font-weight: bold;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 38%;
}
